! Enable it by running:
! $ xrdb .Xresources

! Xterm size
XTerm*vt100.geometry        : 90x23
! Set TERM env variable to use 256 colors
XTerm*termName              : xterm-256color
! Dont include a trailing newline in the selection
XTerm*cutNewline            : false
! Clicking a line selects only from the current word forward
XTerm*cutToBeginningOfLine  : false
! Have delete work like I expect
! https://marc.info/?l=openbsd-misc&m=101061413606449&w=2
XTerm*deleteIsDEL:          false
! Font
XTerm*faceName              : DejaVu Sans Mono
XTerm*faceSize              : 9
! Meta characters (a character combined with the Meta modifier key) are
! converted into a two-character sequence with the character itself preceded by
! ESC.
! This might be needed to use Meta+[0-9] among others in tmux
XTerm*vt100.metaSendsEscape : true
! Select word on two clicks
XTerm*on2Clicks             : word
! Select whole line on three clicks
XTerm*on3Clicks             : line
! Should the scrollbar be displayed
XTerm*scrollBar             : false
! Pressing a key automatically scrolls to the bottom
XTerm*scrollKey             : true
! Tells xterm to use CLIPBOARD for SELECT tokens in the selection mechanism
XTerm*selectToClipboard     : true

! Color
! http://futurile.net/2016/06/15/xterm-256color-themes-molokai-terminal-theme/
! https://github.com/srcery-colors/srcery-terminal/blob/master/xresources/srcery.xresources
! 2020-01-16
! special
*.foreground                : #fce8c3
*.background                : #1c1b19
*.cursorColor               : #fbb829
! black
*.color0                    : #1c1b19
*.color8                    : #918175
! red
*.color1                    : #ef2f27
*.color9                    : #f75341
! green
*.color2                    : #519f50
*.color10                   : #98bc37
! yellow
*.color3                    : #fbb829
*.color11                   : #fed06e
! blue
*.color4                    : #2c78bf
*.color12                   : #68a8e4
! magenta
*.color5                    : #e02c6d
*.color13                   : #ff5c8f
! cyan
*.color6                    : #0aaeb3
*.color14                   : #53fde9
! white
*.color7                    : #d0bfa1
*.color15                   : #fce8c3

! xidle
! Position to drag pointer to lock.
XIdle*position              : sw
! Also lock screen after 5 minutes idle.
XIdle*timeout               : 300
